<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://192.168.1.36:5432/virkadeCms</property>
	<!--<property name="hibernate.connection.password">virkade</property> <property 
		name="hibernate.connection.url">jdbc:postgresql://localhost:5432/virkadeCms</property> -->
		<property name="hibernate.connection.username">virkade</property>
		<property name="hibernate.connection.password">Reid.Zac36</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.pool_size">20</property>
		<property name="hibernate.show_sql">false</property>
		<!--<property name="hibernate.hbm2ddl.auto">create-drop</property>-->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.default_schema">virkade</property>
		<property name="hibernate.connection.characterEncoding">utf8</property>
		<mapping resource="User.hbm.xml" />
		<mapping resource="Address.hbm.xml" />
		<mapping resource="Country.hbm.xml" />
		<mapping resource="Activity.hbm.xml" />
		<mapping resource="Legal.hbm.xml" />
		<mapping resource="Location.hbm.xml" />
		<mapping resource="News.hbm.xml" />
		<mapping resource="Phone.hbm.xml" />
		<mapping resource="Region.hbm.xml" />
		<mapping resource="Session.hbm.xml" />
		<mapping resource="State.hbm.xml" />
		<mapping resource="Status.hbm.xml" />
		<mapping resource="Transaction.hbm.xml" />
		<mapping resource="Type.hbm.xml" />
		<mapping resource="Comment.hbm.xml" />
		<mapping resource="OperatingHours.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
